doctype html
html
  meta(charset = 'utf-8')
  link(rel='stylesheet', type='text/css', href = '/css/main.css')
  link(rel='stylesheet', type='text/css', href = '/css/buttons.css')
  title Flying
  script(src = '/js/jquery/jquery.js')
  script(src = '/js/head.js')
  script(src = '/js/main.js')
  boby
  include includes/head
  include includes/advertising
  p.interval - - - - - - - - - - - -- - - - - -   推荐区   - - - - - - - - - - - - - - - - - -
  include includes/middle
  include includes/bottom
  img#myself(src = '../images/smile.png')
