doctype
html
  head
  meta(charset = 'utf-8')
  link(rel='stylesheet', type='text/css', href = '/css/buttons.css')
  link(rel='stylesheet', type='text/css', href = '/css/usermain.css')
  link(rel='stylesheet', type='text/css', href = '/css/bootstrap-3.3.7-dist/css/bootstrap.css')
  link(rel='stylesheet', type='text/css', href = '/css/jquery-ui.css')
  title 个人用户
  script(src = '/js/jquery/jquery.js')
  script(src = '/js/jquery/jquery-ui.js')
  script(src = '/js/head.js')
  script(src = '/js/userinfo.js')
  boby
  include includes/head
  include includes/userwarehouse
  include includes/dialog
  include includes/userinfo
