//主页的广告部分
div#adver
  div#ad_left
    ul#ad_left_ul
      p 大前端
      li.adv_lv
        a.adv(href = '#') app开发
        a.adv(href = '#') web开发
      li.adv_lv
        a.adv(href = '#') 服务器开发
        a.adv(href = '#') 混合开发
      li.adv_lv
        a.adv(href = '#') 微信小程序
      p 后端
      li.adv_lv
        a.adv(href = '#') 服务器开发
        a.adv(href = '#') 游戏开发
      li.adv_lv
        a.adv(href = '#') PC端
        a.adv(href = '#') 数据库相关
      p UI
      li.adv_lv
        a.adv(href = '#') logo设计
        a.adv(href = '#') 订制图片
      li.adv_lv
        a.adv(href = '#') 3D相关

  div#ad_right
    div#ad_right_mid
      //先放一张图片
      img(src = '../images/register.jpg')
    div#ad_right_rig
      div#ad_one
        img.img_size(src = '../images/money1.jpg')
        img#woqu.img_size(src = '../images/money2.jpg')
      div#ad_tow
        img.img_size(src = '../images/money3.jpeg')
