//主页的底部
div#bottom
  nav#button_nav
    //a#flying.buttom_b(href = '/main/') Flying
    a.buttom_a(href = '/login/?type=1') 联系我们
    a.buttom_a(href = '/login/?type=0') 留言
    a.buttom_a(href = '/rank/') 排行
    a.buttom_a 我是雇主
