//主页的中间
div#middle
  div#select_type
    table#splite_table(border="0"  cellpadding="10" cellspacing="0")
      tbody
        tr
        td.splite_td
          div#spr_1.sprite
          p 商业
        td.splite_td
          div#spr_2.sprite
          p 教育
        td.splite_td
          div#spr_3.sprite
          p 企业
        tr
        td.splite_td
          div#spr_4.sprite
          p 农业
        td.splite_td
          div#spr_5.sprite
          p 工业
        td.splite_td
          div#spr_6.sprite
          p 其他
  //推荐
  div#remc.recommend
    ul
      li
        img(src = '../images/middle.money1.jpg')
      li
        img(src = '../images/middle.money2.jpg')
      li
        img(src = '../images/middle.money3.jpg')
      li
        img(src = '../images/middle.money1.jpg')
      li
        img(src = '../images/middle.money2.jpg')

//这里无法 include...
div#other_type
  div.other
    div.other_one.other_w_h
      div#middel_main
        ul
          li
            img.other_long_img(src = '../images/middle.money1.jpg')
          li
            img.other_small_img(src = '../images/middle.money1.jpg')
        table.middle_table
          //caption 爱科技
          tbody
          tr
            td
              img(src = '../images/middle.money1.jpg')
            td
              img(src = '../images/middle.money2.jpg')
          tr
            td
              img(src = '../images/middle.money1.jpg')
            td
              img(src = '../images/middle.money2.jpg')

    div.other_one.other_w_h
      div#middel_main_three
        ul
          li
            img.other_long_img(src = '../images/middle.money1.jpg')
          li
            img.other_small_img(src = '../images/middle.money1.jpg')
        table.middle_table
          //caption 爱科技
          tbody
          tr
            td
              img(src = '../images/middle.money1.jpg')
            td
              img(src = '../images/middle.money2.jpg')
          tr
            td
              img(src = '../images/middle.money1.jpg')
            td
              img(src = '../images/middle.money2.jpg')


  div.other
    div.other_tow.other_w_h
      div#middel_main_tow
        ul
          li
            img.other_long_img(src = '../images/middle.money1.jpg')
          li
            img.other_small_img(src = '../images/middle.money3.jpg')
        table.middle_table
          //caption 爱科技
          tbody
          tr
            td
              img(src = '../images/middle.money1.jpg')
            td
              img(src = '../images/middle.money2.jpg')
          tr
            td
              img(src = '../images/middle.money1.jpg')
            td
              img(src = '../images/middle.money2.jpg')
    div.ohter
      div.other_tow
        div#middel_main_four
          ul#middle_four_ul
            li
              img.other_long_img(src = '../images/middle.money1.jpg')
            li
              img.other_small_img(src = '../images/middle.money3.jpg')
          table.middle_table
            //caption 爱科技
            tbody
            tr
              td
                img(src = '../images/middle.money1.jpg')
              td
                img(src = '../images/middle.money2.jpg')
            tr
              td
                img(src = '../images/middle.money1.jpg')
              td
                img(src = '../images/middle.money2.jpg')
