//中间的主要内容
div#middel_main
  ul
    li
      img(src = '../images/middle.money1.jpg')
    li
      img(src = '../images/middle.money1.jpg')
  table(border="1"  cellpadding="20" cellspacing="0")
    caption 爱科技
    tbody
    tr
      td
        img(src = '../images/middle.money1.jpg')
      td
        img(src = '../images/middle.money2.jpg')
    tr
      td
        img(src = '../images/middle.money1.jpg')
      td
        img(src = '../images/middle.money2.jpg')
