//个人仓库
div#warehouse
  div.container-fluid
    div.row-fluid
      div.span12
        ul.thumbnails
          li.span4
            div.thumbnail
              img.ware_img(src = '../images/middle.money1.jpg')
              div.caption
                h3.标题1
              p 这是我的第枯在zzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
              p
                a(href="#").btn.btn-primary.ware_btn 查看
                a(href="#").btn.btn-primary.ware_btn 收藏
